apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root
  namespace: argocd
spec:
  project: bootstrap

  source:
    repoURL: https://github.com/LaurisNeimanis/gitops-observability-stack.git
    targetRevision: main
    path: gitops/argo/applications

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
