apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: observability
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 80.6.0
      helm:
        valueFiles:
          - $values/gitops/apps/platform/observability/kube-prometheus-stack/values/values.yaml
          - $values/gitops/apps/platform/observability/kube-prometheus-stack/values/values-dev.yaml
    - repoURL: https://github.com/LaurisNeimanis/gitops-observability-stack.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: observability

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
